.eachActiveTask {
  margin-bottom: 15px;
  margin-top: 15px;
  display: flex;
}

.informations {
  flex-basis: 75%;
}

.actions {
  flex-grow: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.actions button {
  border: 0;
  color: green;
  background-color: transparent;
  transition: 0.5s;
  font-size: 30px;
  cursor: pointer;
  display: flex;
  outline: none;
}

.actions button:nth-of-type(2) {
  color: red;
}

.actions button:hover {
  transform: rotate(360deg);
}
